# Custom Chatbot Project: Character Dataset

In this project I'm going to use a dataset of fictional characters from TV, Movies and plays. We will wrangle the dataset, setup embeddings, use cosine similarity to query the dataset then use these Query resutls to generate a RAG response from the OpenAPI endpoint.

In [1]:
#Imports
import pandas as pd

## Data Wrangling

TODO: In the cells below, load your chosen dataset into a `pandas` dataframe with a column named `"text"`. This column should contain all of your text data, separated into at least 20 rows.

In [2]:
df = pd.read_csv('data/character_descriptions.csv')

In [3]:
df.head()

    Name                                        Description Medium  Setting
0  Emily  A young woman in her early 20s, Emily is an as...   Play  England
1   Jack  A middle-aged man in his 40s, Jack is a succes...   Play  England
2  Alice  A woman in her late 30s, Alice is a warm and n...   Play  England
3    Tom  A man in his 50s, Tom is a retired soldier and...   Play  England
4  Sarah  A woman in her mid-20s, Sarah is a free-spirit...   Play  England

## Custom Query Completion

TODO: In the cells below, compose a custom query using your chosen dataset and retrieve results from an OpenAI `Completion` model. You may copy and paste any useful code from the course materials.

## Custom Performance Demonstration

TODO: In the cells below, demonstrate the performance of your custom query using at least 2 questions. For each question, show the answer from a basic `Completion` model query as well as the answer from your custom query.

### Question 1

### Question 2